{% extends 'management/hospital/dashboard-base.html' %}
{% load static %}

{% block title %}
<title>Patient Page</title>
{% endblock %}


{% block contain %}

    <div class="card shadow position-relative">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Patient Listing {{ p_user }}</h6>
            <div>
                <a href="#" class="btn btn-sm btn-primary shadow-sm" type="button" data-toggle="modal" data-target="#add_customer"><i
                    class="fas fa-users fa-sm text-white-50 "></i> Add Patient</a>
        
                <!-- <a href="" class="btn btn-sm btn-primary shadow-sm "><i
                    class="fas fa-download fa-sm text-white-50 "></i> Generate Report</a> -->
            </div>
        </div>


        <div class="card-body ">
            <div class="table-responsive all_customer">
             
                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th >Sr. No</th>
                            <th >First Name </th>
                            <th >Last Name </th>
                            <th >Email </th>
                            <th >Phone Number </th>
                            <th >Address </th>
                            
                            <th >Status</th>
                            <th >Check Report</th>
                    
                            <th class="customWidth">Action</th>
                          </tr>
                    </thead>
                   
                    <tbody>
                        {% for patient in patients %}
                        <tr>                        
                          <td>{{ forloop.counter }}</td>
                          <td>{{ patient.patient_first_name }}</td>
                          <td>{{ patient.patient_last_name }}</td>
                          <td>{{ patient.patient_email }}</td>
                          <td>{{ patient.patient_phone_number }}</td>
                          <td>{{ patient.patient_address }}</td>
                          <td class="text-break">{{ patient.patient_status }}</td>
                          <td >
                            <a href="{% url 'medical_reports' id=patient.id %}"><button class="btn btn-success" ><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                                <path d="M20.293 5.293L9 16.586l-4.293-4.293a1 1 0 0 0-1.414 1.414l5 5a1 1 0 0 0 1.414 0l12-12a1 1 0 0 0-1.414-1.414z"/>
                              </svg>
                              </i></button></a>&nbsp;
                          </td>
                          <td>
                            <a href="{% url 'update_patient' id=patient.id %}"><button class="btn btn-success" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                            </svg></i></button></a>&nbsp;
                            <a><button class="btn btn-danger" data-id = "{{ patient.id }}" data-toggle="modal" data-target="#deleteModal-{{patient.id}}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                                <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                            </svg></button></a>
                          </td>
                        </tr>

                        <div class="modal fade" id="deleteModal-{{patient.id}}" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">Are you sure you want to delete Patient.</div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary stock_class" type="button" data-dismiss="modal">Cancel</button>
                                        <a class="btn btn-danger" href="{% url 'delete_patient' id=patient.id %}">Delete</a>
                                    </div> 
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade addUsermodel" id="add_customer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Create New Patient</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form class="user" method="post" action="/add/patient/">
                    {% csrf_token %}    
                    <div class="form-group row">
                        <div class="col-sm-6 mb-2 form-input">
                            <label for="exampleInputEmail1" class="form-label">First Name</label>
                            {{ form.patient_first_name }}
                        </div>
                        
                        <div class="col-sm-6 mb-2 form-input">
                            <label for="exampleInputEmail1" class="form-label">Last Name</label>
                            {{ form.patient_last_name }}
                          <span id="error_phone" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6 mb-2 form-input">
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            {{ form.patient_email }}
                          <span id="error_phone" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6 mb-2 form-input">
                            <label for="exampleInputEmail1" class="form-label">Phone</label>
                            {{ form.patient_phone_number }}
                          <span id="error_phone" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6 mb-2 form-input">
                            <label for="exampleInputEmail1" class="form-label">Address</label>
                            {{ form.patient_address }}
                          <span id="error_phone" class="text-danger"></span>
                        </div>

                        <div class="col-sm-6 mb-2 form-input">
                            <label for="exampleInputEmail1" class="form-label">Active Status</label>
                            <select name="patient_status" class="form-control">
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                            </select>
                          <span id="error_phone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="text-right mt-2">
                        <button type="button" class="btn btn-danger stock_class" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        </div>         
                </form>
            </div>
        </div>
        </div>
    </div>

</div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Record</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to delete Asset Type.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary stock_class" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-danger" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
    <script>
        $("#id_gst_number").keyup(function(){
        var gst_number = $("#id_gst_number").val();
        var filter = /^[0-9]{2}[A-Z]{5}[0-9]{4}[A-Z]{1}[1-9A-Z]{1}Z[0-9A-Z]{1}$/; 
        if (!filter.test(gst_number)) {
        $("#error_gst").text("Not a valid GST");
        gst_number.focus;
        } else {
        $("#error_gst").text("");
        }
        });
    </script>

    
    <script>
      // // check Email validation
      $("#id_email").keyup(function(){
        var email = $("#id_email").val();
        var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

        if (!filter.test(email)) {
        $("#error_email").text("It is not a valid email");
        email.focus;
        } else {
        $("#error_email").text("");
        }
      });

      // check contact number validation
      $("#id_contact_number").keyup(function(){

        var password = $("#id_contact_number").val();
        var filter = /^[a-zA-Z0-9.,/ $@()]+$/;
            
        if ((password).length < 10 || (password).length > 10 ){
        //alert('Please provid a valid email address');

        $("#error_phone").text("Phone number should be in 10 digits");
        password.focus;
        //return false;
        } else {
        $("#error_phone").text("");
        }
      });
      
      // check Pan Number validation
      $("#id_pan_number").keyup(function(){
        var email = $("#id_pan_number").val();
        var filter = /^([A-Z]){5}([0-9]){4}([A-Z]){1}?$/; 
        if (!filter.test(email)) {
        $("#error_pan").text("It is not a valid PAN");
        email.focus;
        } else {
        $("#error_pan").text("");
        }
      });

      // check PIN-CODE validation
      $("#id_pin_code").keyup(function(){
        var pin_code = $("#id_pin_code").val();
        var filter = /^[1-9]{1}[0-9]{2}[0-9]{3}$/; 
        if (!filter.test(pin_code)) {
        $("#error_pin").text("It is not a valid PIN Code");
        pin_code.focus;
        } else {
        $("#error_pin").text("");
        }
      });

      $('.stock_class').click(function() {
        location.reload();
      });
    </script>

{% endblock %}