<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Login</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary login_bg">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class= STATIC_ROOT / 'static/'"row">
                            <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">                                
                                <div class="p-5">
                                   
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome !</h1>
                                    </div>
                                        
                                    {% if msg1 %}
                                    <div class="text-center">
                                        <h6 class="text-danger">{{ msg1 }}</h6>
                                    </div>
                                    {% endif %}
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                    
                                        <!-- Email and Password Fields -->
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-4 form-input">
                                                <label for="exampleInputEmail1" class="form-label">Email</label>
                                                <input type="email" name="email" class="form-control" placeholder="Email" required>
                                            </div>
                                    
                                            <div class="col-sm-6 mb-4 form-input">
                                                <label for="exampleInputPassword" class="form-label">Password</label>
                                                <input type="password" name="password" class="form-control" placeholder="Password" required>
                                            </div>
                                        </div>
                                    
                                        <!-- Role Selection (Doctor or Patient) -->
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-4 form-input">
                                                <label for="role" class="form-label">Role</label>
                                                <select name="role" class="form-control" id="role" required>
                                                    <option value="Doctor">Doctor</option>
                                                    <option value="Patient">Patient</option>
                                                </select>
                                            </div>
                                        </div>
                                    
                                        <!-- First Name and Last Name Fields -->
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-4 form-input">
                                                <label for="first_name" class="form-label">First Name</label>
                                                <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
                                            </div>
                                    
                                            <div class="col-sm-6 mb-4 form-input">
                                                <label for="last_name" class="form-label">Last Name</label>
                                                <input type="text" name="last_name" class="form-control" placeholder="Last Name" required>
                                            </div>
                                        </div>
                                    
                                        <!-- Address and Phone Number Fields -->
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-4 form-input">
                                                <label for="address" class="form-label">Address</label>
                                                <input type="text" name="address" class="form-control" placeholder="Address" required>
                                            </div>
                                    
                                            <div class="col-sm-6 mb-4 form-input">
                                                <label for="phone_number" class="form-label">Phone Number</label>
                                                <input type="text" name="phone_number" class="form-control" placeholder="Phone Number" required>
                                            </div>
                                        </div>
                                    
                                        <!-- Submit Button -->
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Sign Up</button>
                                    </form>
                                    
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="{% url 'login' %}">Already Sign Up?</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    
    <script>
        $(document).ready(function() {
            $("#exampleInputPassword").keyup(function() {
                var password = $(this).val(); // Get the value of the password input
                
                if (password.length < 8) {

            $("#error_password").text("Password length should be greater than 8");
        } else {
            $("#error_password").text(""); // Clear the error message if password length is valid
        }
    });

    $("#exampleInputEmail").keyup(function(){

    var email = $("#exampleInputEmail").val();
    var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

    if (!filter.test(email)) {
        $("#error_email").text("Enter valid email");
    email.focus;
    } else {
    $("#error_email").text("");
    }

    });

    $("#id_employeecode").keyup(function(){

    var password = $("#id_employeecode").val();
    var filter = /^[a-zA-Z0-9.,/ $@()]+$/;
        
    if ((password).length < 6 || (password).length > 6 ){
    $("#error-employee-code").text("Code should be 6 digits");
    password.focus;

    } else {
    $("#error-employee-code").text("");
    }

    });

    $("#id_first_name").keyup(function(){

    var password = $("#id_first_name").val();
    var filter = /^[a-zA-Z0-9.,/ $@()]+$/;
        
    if ((password).length < 1 || (password).length > 10 ){
    $("#error_first_name").text("Name should be in 10 digits");
    password.focus;

    } else {
    $("#error_first_name").text("");
    }

    });

    $("#id_last_name").keyup(function(){

    var password = $("#id_last_name").val();
    var filter = /^[a-zA-Z0-9.,/ $@()]+$/;
        
    if ((password).length < 1 || (password).length > 10 ){
    $("#error_last_name").text("name should be in 10 digits");
    password.focus;

    } else {
    $("#error_last_name").text("");
    }

    });

});
</script>
    <!-- Bootstrap core JavaScript-->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static 'js/sb-admin-2.min.js' %}"></script>
    <script>
        $("body").on('click', '.toggle-password', function() {
            $(this).toggleClass("fa-eye fa-eye-slash");
            var input = $("#exampleInputPassword");
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    </script>

</body>

</html>